body {
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.SpecialFont{
  font-family: 'Poppins', sans-serif;
  color: #484848;
  line-height: 1.6;

}

.logo{
  width: 130px;
  height: auto;
  
}

.navIcon{
  width: 70px;
}

.icon-box {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid #ccc; 
  border-radius: 50%; 
  background-color: #c4c4c4; 
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.icon-box:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.miniNav{
  max-width: 850px;
  justify-items: center;
  align-items: center;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.miniNavHeading{
  font-size: 0.9rem;
}
.miniNavPara{
  font-size: 0.95rem;
  line-height: 0.4;
}

.inputArea:focus{
  outline: none;
  border: none;
}
.inputArea{
  border: none;
}

.Guest{
  width:290px;
}
.SearchIcon{
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid #ccc; 
  border-radius: 50%; 
  background-color: #FF385C; 
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  cursor: pointer;
  color: white;
  transition: all 0.2s ease-in-out;
}

.card{
  width: 100%;
  height: 260px;
}

.card-img-top{
  height: 170px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-title{
  font-size: 13px;
}
.card-text{
  font-size: 12px;
}

.leftArrow , .rightArrow{
  width: 30px;
  height: 30px;
  background-color: #e5dfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.hide-scroll {
  scrollbar-width: none;       
  -ms-overflow-style: none; 
}

.hide-scroll::-webkit-scrollbar {
  display: none;            
}

.list-item p{
  line-height: 0.45rem;
  color: gray;
font-size: 14px;
font-weight: 400;
}

.text-dark{
  font-size: 15px;

}

.top-badge {
  z-index: 2;
}

.guest-fav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBE9E5;
  border-radius: 20px;
  font-size: 11px;
  font-weight: bold; 
  padding: 1px 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.heart-icon{
color:rgba(0, 0, 0, 0.556);
}



.heart-icon {
  padding: 6px;
  color: white; /* white by default */

  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
}



.heart-icon.liked {
  color: rgb(226, 51, 51);
}

.miniNavArea{
  max-width: 400px;
}

.NavHome{
  height: 40px;
}

.MoreImg{
  border-radius: 10px;
  overflow: hidden;
}

.lineSpace{
  line-height: 0.8;
}

.ShowMore{
  background-color: #f2ebeb;
  border-radius: 8px;
}
.ItemComment{
  font-weight: 500;
}

.container-fluid {
width: 100vw;
}

.itemColor{
  font-weight: 600;
  color: rgba(15, 15, 15, 0.786);
  font-size: 14px;
}

.AddToCart{
  height: 300px;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  margin: 40px;
  border-radius: 20px;
  
}

.CartBTn{
  border: none;
  color: white;
  background-color: crimson;
}


  .ScrollableParent {
    min-height: 1500px; 
    position: relative;
  }
  
  .scrollable-left {
    overflow-y: auto;
    max-height: 100%;
    padding-right: 15px;
  }
  
  .sticky-box {
    position: sticky;
    top: 100px; 
  }
  

  .rounded-modal .modal-content {
    border-radius: 30px !important;
    overflow: hidden !important;
    background-color: white !important;
    border: none;
  }

  .react-tel-input .form-control {
    border-radius: 8px;
    padding-left: 50px;
  }
  

  .LoginInput:focus {
    outline: none !important;
    box-shadow: none !important;
    border: black;
  }
  
  .custom-scroll-modal::-webkit-scrollbar {
    width: 5px;
  }
  
  .custom-scroll-modal::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scroll-modal::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 8px;
  }
  
  .custom-scroll-modal::-webkit-scrollbar-thumb:hover {
    background-color: #8e8e8e;
  }
  

  .destinationArea {
    transition: background-color 0.3s ease;
  }
  
  .destinationArea:hover {
    background-color: #eaeaea; /* lighter and softer */
  }
  
  .miniNavHover:hover{
    background-color: #e5dfdf;
  }
  

  
  .whoModalwidth .modal-content {
    border-radius: 16px;
    padding: 0px;
  }
  
  .modal-body{
    padding: 0px;
  }
  
.WhoguestInput{
  border: none;
} 

.WhoguestInput:focus{
  outline: none;
  border: none;
}

.liked {
  color: red;
}

.inputDate {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}
.inputDate:focus {
  border: none;
  outline: none;
  box-shadow: none;
}


.PaymentConfirmBtn{
  background: #d1282b;
background: radial-gradient(circle, rgba(209, 40, 43, 1) 0%, rgba(242, 15, 30, 1) 100%);
color: white;
font-weight: 700;
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
}
  